In [1]:
import numpy as np
import pandas as pd

In [2]:
dict1 = {
    "name":['abhinav','amol','abhishek','anurag'],
    "marks":[87,78,98,67],
    "city":['gkp','kushinagr','fazilnagar','prayagraj']
}

In [3]:
df = pd.DataFrame(dict1)

In [4]:
df

       name  marks        city
0   abhinav     87         gkp
1      amol     78   kushinagr
2  abhishek     98  fazilnagar
3    anurag     67   prayagraj

In [5]:
df.to_csv('frnd.csv')

In [6]:
df.to_csv('frnd_index_false.csv',index=False)

In [7]:
df.head(2)

      name  marks       city
0  abhinav     87        gkp
1     amol     78  kushinagr

In [8]:
df.tail(2)

       name  marks        city
2  abhishek     98  fazilnagar
3    anurag     67   prayagraj

In [9]:
df.describe()

           marks
count   4.000000
mean   82.500000
std    13.178265
min    67.000000
25%    75.250000
50%    82.500000
75%    89.750000
max    98.000000

In [10]:
abhi = pd.read_csv('Book1.csv')

In [11]:
abhi

   Train no  speed       city
0     12679    198      delhi
1     13980    344        goa
2     12300    325        gkp
3     15000    122  prayagraj
4     12345    232    lucknow

In [12]:
abhi['speed']

0    198
1    344
2    325
3    122
4    232
Name: speed, dtype: int64

In [13]:
abhi['speed'][0]

198

In [14]:
abhi['speed'][0]=198

C:\Users\Muskan Singh\AppData\Local\Temp\ipykernel_8252\1556983139.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  abhi['speed'][0]=198

In [15]:
abhi

   Train no  speed       city
0     12679    198      delhi
1     13980    344        goa
2     12300    325        gkp
3     15000    122  prayagraj
4     12345    232    lucknow

In [16]:
abhi.to_csv('Book1.csv',index=False)

In [17]:
abhi.index = ['first', 'second', 'third', 'fourth','fifth']

In [18]:
abhi

        Train no  speed       city
first      12679    198      delhi
second     13980    344        goa
third      12300    325        gkp
fourth     15000    122  prayagraj
fifth      12345    232    lucknow

In [19]:
ser = pd.Series(np.random.rand)

In [20]:
ser

0    <built-in method rand of numpy.random.mtrand.R...
dtype: object

In [21]:
ser = pd.Series(np.random.rand(30))

In [22]:
ser

0     0.216064
1     0.791324
2     0.810786
3     0.901865
4     0.570989
5     0.722383
6     0.057378
7     0.327757
8     0.543970
9     0.990043
10    0.345319
11    0.325186
12    0.167672
13    0.225678
14    0.529121
15    0.478387
16    0.093329
17    0.344767
18    0.932005
19    0.815216
20    0.726673
21    0.213467
22    0.425430
23    0.060418
24    0.820192
25    0.385493
26    0.262725
27    0.169919
28    0.482180
29    0.719954
dtype: float64

In [23]:
type(ser)

pandas.core.series.Series

In [24]:
newdf = pd.DataFrame(np.random.rand(334,5),index=np.arange(334))

In [25]:
newdf

            0         1         2         3         4
0    0.568990  0.941985  0.434413  0.003485  0.107439
1    0.076673  0.430854  0.247748  0.188904  0.087393
2    0.730090  0.537583  0.554477  0.188907  0.595290
3    0.562830  0.752235  0.874641  0.471715  0.333622
4    0.599896  0.023838  0.263985  0.265397  0.706197
..        ...       ...       ...       ...       ...
329  0.810263  0.606177  0.138853  0.108267  0.712464
330  0.978727  0.714360  0.248216  0.456161  0.671488
331  0.582455  0.523817  0.390053  0.854340  0.001068
332  0.465398  0.852149  0.614041  0.485488  0.410634
333  0.049285  0.344240  0.262669  0.206302  0.177253

[334 rows x 5 columns]

In [26]:
type(newdf)

pandas.core.frame.DataFrame

In [27]:
newdf.describe()

                0           1           2           3           4
count  334.000000  334.000000  334.000000  334.000000  334.000000
mean     0.492385    0.499657    0.511253    0.497748    0.506486
std      0.287322    0.279560    0.286783    0.295743    0.287221
min      0.005333    0.002991    0.003994    0.000901    0.000021
25%      0.264893    0.271738    0.264826    0.231678    0.270292
50%      0.501126    0.503842    0.487354    0.486694    0.498279
75%      0.729126    0.732807    0.770101    0.738731    0.748082
max      0.999504    0.998216    0.999142    0.997069    0.998826

In [28]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [29]:
newdf[0]

0      0.568990
1      0.076673
2      0.730090
3      0.562830
4      0.599896
         ...
329    0.810263
330    0.978727
331    0.582455
332    0.465398
333    0.049285
Name: 0, Length: 334, dtype: float64

In [30]:
newdf[0][0]

0.5689904512475447

In [31]:
newdf[0][0]="abhinav"

C:\Users\Muskan Singh\AppData\Local\Temp\ipykernel_8252\243217777.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'abhinav' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  newdf[0][0]="abhinav"

In [32]:
newdf

            0         1         2         3         4
0     abhinav  0.941985  0.434413  0.003485  0.107439
1    0.076673  0.430854  0.247748  0.188904  0.087393
2     0.73009  0.537583  0.554477  0.188907  0.595290
3     0.56283  0.752235  0.874641  0.471715  0.333622
4    0.599896  0.023838  0.263985  0.265397  0.706197
..        ...       ...       ...       ...       ...
329  0.810263  0.606177  0.138853  0.108267  0.712464
330  0.978727  0.714360  0.248216  0.456161  0.671488
331  0.582455  0.523817  0.390053  0.854340  0.001068
332  0.465398  0.852149  0.614041  0.485488  0.410634
333  0.049285  0.344240  0.262669  0.206302  0.177253

[334 rows x 5 columns]

In [33]:
newdf.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
dtype: object

In [34]:
newdf.index

Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
      dtype='int32', length=334)

In [35]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)

In [36]:
newdf.to_numpy

<bound method DataFrame.to_numpy of             0         1         2         3         4
0     abhinav  0.941985  0.434413  0.003485  0.107439
1    0.076673  0.430854  0.247748  0.188904  0.087393
2     0.73009  0.537583  0.554477  0.188907  0.595290
3     0.56283  0.752235  0.874641  0.471715  0.333622
4    0.599896  0.023838  0.263985  0.265397  0.706197
..        ...       ...       ...       ...       ...
329  0.810263  0.606177  0.138853  0.108267  0.712464
330  0.978727  0.714360  0.248216  0.456161  0.671488
331  0.582455  0.523817  0.390053  0.854340  0.001068
332  0.465398  0.852149  0.614041  0.485488  0.410634
333  0.049285  0.344240  0.262669  0.206302  0.177253

[334 rows x 5 columns]>

In [37]:
newdf[0][0]=0.98764

In [38]:
newdf.to_numpy()

array([[0.98764, 0.941985018258975, 0.4344125798763776,
        0.003485080068806101, 0.10743941593063777],
       [0.0766732060700942, 0.430853736303498, 0.24774780878555436,
        0.18890416108235986, 0.08739258634936786],
       [0.7300904640932843, 0.5375829703828103, 0.5544774591648276,
        0.1889073216886561, 0.5952902023828158],
       ...,
       [0.5824550034959922, 0.5238174652317067, 0.39005277531358984,
        0.8543401857740509, 0.001067549829825487],
       [0.4653979951225665, 0.8521491813684947, 0.6140411169077876,
        0.48548791449742346, 0.4106339207149534],
       [0.04928463388355586, 0.34424030560426977, 0.26266917355024,
        0.20630215191740753, 0.17725326140874098]], dtype=object)

In [39]:
newdf.T

,0,1,2,3,4,5,6,7,8,9,...,324,325,326,327,328,329,330,331,332,333
0,0.98764,0.076673,0.73009,0.56283,0.599896,0.871852,0.233142,0.7987,0.191998,0.268832,...,0.695017,0.729971,0.690467,0.881984,0.962193,0.810263,0.978727,0.582455,0.465398,0.049285
1,0.941985,0.430854,0.537583,0.752235,0.023838,0.976916,0.615222,0.697445,0.434514,0.879548,...,0.163947,0.349976,0.876572,0.814127,0.367257,0.606177,0.71436,0.523817,0.852149,0.34424
2,0.434413,0.247748,0.554477,0.874641,0.263985,0.667543,0.524667,0.184519,0.376453,0.142418,...,0.797787,0.278832,0.356877,0.257651,0.465795,0.138853,0.248216,0.390053,0.614041,0.262669
3,0.003485,0.188904,0.188907,0.471715,0.265397,0.631862,0.690983,0.27449,0.941272,0.847665,...,0.486845,0.264959,0.507816,0.419198,0.179709,0.108267,0.456161,0.85434,0.485488,0.206302
4,0.107439,0.087393,0.59529,0.333622,0.706197,0.853917,0.388091,0.630286,0.613234,0.978194,...,0.367922,0.174295,0.304113,0.327826,0.217657,0.712464,0.671488,0.001068,0.410634,0.177253

In [40]:
newdf

            0         1         2         3         4
0     0.98764  0.941985  0.434413  0.003485  0.107439
1    0.076673  0.430854  0.247748  0.188904  0.087393
2     0.73009  0.537583  0.554477  0.188907  0.595290
3     0.56283  0.752235  0.874641  0.471715  0.333622
4    0.599896  0.023838  0.263985  0.265397  0.706197
..        ...       ...       ...       ...       ...
329  0.810263  0.606177  0.138853  0.108267  0.712464
330  0.978727  0.714360  0.248216  0.456161  0.671488
331  0.582455  0.523817  0.390053  0.854340  0.001068
332  0.465398  0.852149  0.614041  0.485488  0.410634
333  0.049285  0.344240  0.262669  0.206302  0.177253

[334 rows x 5 columns]

In [41]:
newdf.sort_index(axis=0,ascending=False)

            0         1         2         3         4
333  0.049285  0.344240  0.262669  0.206302  0.177253
332  0.465398  0.852149  0.614041  0.485488  0.410634
331  0.582455  0.523817  0.390053  0.854340  0.001068
330  0.978727  0.714360  0.248216  0.456161  0.671488
329  0.810263  0.606177  0.138853  0.108267  0.712464
..        ...       ...       ...       ...       ...
4    0.599896  0.023838  0.263985  0.265397  0.706197
3     0.56283  0.752235  0.874641  0.471715  0.333622
2     0.73009  0.537583  0.554477  0.188907  0.595290
1    0.076673  0.430854  0.247748  0.188904  0.087393
0     0.98764  0.941985  0.434413  0.003485  0.107439

[334 rows x 5 columns]

In [42]:
newdf2 = newdf.copy()

In [48]:
newdf2.loc[0, 0] = 98756

In [49]:
newdf

            0         1         2         3         4
0     0.98764  0.941985  0.434413  0.003485  0.107439
1    0.076673  0.430854  0.247748  0.188904  0.087393
2     0.73009  0.537583  0.554477  0.188907  0.595290
3     0.56283  0.752235  0.874641  0.471715  0.333622
4    0.599896  0.023838  0.263985  0.265397  0.706197
..        ...       ...       ...       ...       ...
329  0.810263  0.606177  0.138853  0.108267  0.712464
330  0.978727  0.714360  0.248216  0.456161  0.671488
331  0.582455  0.523817  0.390053  0.854340  0.001068
332  0.465398  0.852149  0.614041  0.485488  0.410634
333  0.049285  0.344240  0.262669  0.206302  0.177253

[334 rows x 5 columns]

In [50]:
newdf2

            0         1         2         3         4
0       98756  0.941985  0.434413  0.003485  0.107439
1    0.076673  0.430854  0.247748  0.188904  0.087393
2     0.73009  0.537583  0.554477  0.188907  0.595290
3     0.56283  0.752235  0.874641  0.471715  0.333622
4    0.599896  0.023838  0.263985  0.265397  0.706197
..        ...       ...       ...       ...       ...
329  0.810263  0.606177  0.138853  0.108267  0.712464
330  0.978727  0.714360  0.248216  0.456161  0.671488
331  0.582455  0.523817  0.390053  0.854340  0.001068
332  0.465398  0.852149  0.614041  0.485488  0.410634
333  0.049285  0.344240  0.262669  0.206302  0.177253

[334 rows x 5 columns]

In [52]:
newdf.loc[[1,2],[1,2]]

          1         2
1  0.430854  0.247748
2  0.537583  0.554477

In [54]:
newdf.loc[[1,2],:]

          0         1         2         3         4
1  0.076673  0.430854  0.247748  0.188904  0.087393
2   0.73009  0.537583  0.554477  0.188907  0.595290

In [57]:
newdf.loc[(newdf[1]<0.2) ]

            0         1         2         3         4
4    0.599896  0.023838  0.263985  0.265397  0.706197
12   0.935353  0.094362  0.137819  0.184938  0.593496
18    0.16808  0.131370  0.275428  0.764116  0.819081
26   0.563737  0.086603  0.390828  0.329707  0.551019
36   0.963971  0.054215  0.562552  0.630511  0.213935
..        ...       ...       ...       ...       ...
288  0.210063  0.029159  0.561091  0.163592  0.345166
299  0.936471  0.069212  0.885464  0.714293  0.113049
317  0.271056  0.097227  0.047906  0.662502  0.743836
322  0.402009  0.164138  0.600058  0.252462  0.174805
324  0.695017  0.163947  0.797787  0.486845  0.367922

[62 rows x 5 columns]

In [58]:
newdf.loc[(newdf[1]<0.2)&(newdf[2]>0.3)]

            0         1         2         3         4
26   0.563737  0.086603  0.390828  0.329707  0.551019
36   0.963971  0.054215  0.562552  0.630511  0.213935
47    0.30033  0.024363  0.586415  0.562799  0.681295
48   0.538995  0.039965  0.987511  0.413481  0.878328
51   0.426499  0.097874  0.304694  0.591553  0.638934
56   0.502848  0.092877  0.530110  0.486543  0.378354
60   0.913945  0.191865  0.984142  0.178096  0.362655
68   0.981988  0.118702  0.873460  0.669811  0.994611
69   0.302365  0.002991  0.794407  0.066652  0.194686
73   0.658876  0.032925  0.669603  0.721831  0.789085
77   0.438792  0.192406  0.756871  0.423940  0.967900
80   0.420351  0.061008  0.930478  0.743551  0.377544
83   0.722284  0.179375  0.477456  0.184138  0.835550
104  0.112679  0.118846  0.732115  0.450748  0.496624
123  0.150912  0.068384  0.459566  0.732978  0.756529
134  0.589311  0.176815  0.561533  0.289462  0.553206
135  0.351251  0.060202  0.613854  0.370908  0.704576
150  0.196499  0.095231  0.741334  0.159049  0.219623
178  0.777757  0.117630  0.725060  0.586699  0.028176
188  0.886238  0.069659  0.350824  0.062490  0.550585
191  0.615284  0.150728  0.821088  0.075748  0.941725
192   0.76088  0.137232  0.638895  0.364139  0.860527
194  0.550909  0.070464  0.776540  0.703329  0.965515
208  0.280352  0.141000  0.778147  0.010888  0.681317
217  0.642706  0.031613  0.383042  0.975099  0.395266
222  0.613981  0.133250  0.475530  0.912790  0.630893
224  0.465549  0.045030  0.612091  0.059835  0.821458
227  0.598312  0.012728  0.448771  0.911895  0.876124
228  0.011257  0.097732  0.412660  0.297462  0.784837
235  0.464916  0.166826  0.878297  0.661990  0.544082
247  0.076617  0.055834  0.487952  0.074387  0.927388
255   0.38402  0.192711  0.743914  0.179709  0.720678
261  0.218861  0.052050  0.386223  0.789765  0.565011
264  0.893137  0.104174  0.364497  0.072991  0.504011
284  0.119666  0.196196  0.931829  0.035111  0.913748
287  0.828763  0.072142  0.999142  0.419324  0.667605
288  0.210063  0.029159  0.561091  0.163592  0.345166
299  0.936471  0.069212  0.885464  0.714293  0.113049
322  0.402009  0.164138  0.600058  0.252462  0.174805
324  0.695017  0.163947  0.797787  0.486845  0.367922

In [63]:
newdf

            0         1         2         3         4
0     0.98764  0.941985  0.434413  0.003485  0.107439
1    0.076673  0.430854  0.247748  0.188904  0.087393
2     0.73009  0.537583  0.554477  0.188907  0.595290
3     0.56283  0.752235  0.874641  0.471715  0.333622
4    0.599896  0.023838  0.263985  0.265397  0.706197
..        ...       ...       ...       ...       ...
329  0.810263  0.606177  0.138853  0.108267  0.712464
330  0.978727  0.714360  0.248216  0.456161  0.671488
331  0.582455  0.523817  0.390053  0.854340  0.001068
332  0.465398  0.852149  0.614041  0.485488  0.410634
333  0.049285  0.344240  0.262669  0.206302  0.177253

[334 rows x 5 columns]

In [64]:
newdf.iloc[0,4]

0.10743941593063777

In [65]:
newdf.iloc[[1,3],[0,2]]

          0         2
1  0.076673  0.247748
3   0.56283  0.874641

In [66]:
newdf

            0         1         2         3         4
0     0.98764  0.941985  0.434413  0.003485  0.107439
1    0.076673  0.430854  0.247748  0.188904  0.087393
2     0.73009  0.537583  0.554477  0.188907  0.595290
3     0.56283  0.752235  0.874641  0.471715  0.333622
4    0.599896  0.023838  0.263985  0.265397  0.706197
..        ...       ...       ...       ...       ...
329  0.810263  0.606177  0.138853  0.108267  0.712464
330  0.978727  0.714360  0.248216  0.456161  0.671488
331  0.582455  0.523817  0.390053  0.854340  0.001068
332  0.465398  0.852149  0.614041  0.485488  0.410634
333  0.049285  0.344240  0.262669  0.206302  0.177253

[334 rows x 5 columns]

In [70]:
newdf.drop([0])   #row delete

            0         1         2         3         4
1    0.076673  0.430854  0.247748  0.188904  0.087393
2     0.73009  0.537583  0.554477  0.188907  0.595290
3     0.56283  0.752235  0.874641  0.471715  0.333622
4    0.599896  0.023838  0.263985  0.265397  0.706197
5    0.871852  0.976916  0.667543  0.631862  0.853917
..        ...       ...       ...       ...       ...
329  0.810263  0.606177  0.138853  0.108267  0.712464
330  0.978727  0.714360  0.248216  0.456161  0.671488
331  0.582455  0.523817  0.390053  0.854340  0.001068
332  0.465398  0.852149  0.614041  0.485488  0.410634
333  0.049285  0.344240  0.262669  0.206302  0.177253

[333 rows x 5 columns]

In [88]:
newdf.drop([2],axis=1)   #coloum drop , do not drop data in main file

KeyError: '[2] not found in axis'

In [82]:
newdf.drop([2,0],axis=1, inplace=True) #drop col 0 and 2 ,inplace true means drop data in main file aslo

KeyError: '[2, 0] not found in axis'

In [83]:
newdf

            1         3         4
0    0.941985  0.003485  0.107439
1    0.537583  0.188907  0.595290
2    0.752235  0.471715  0.333622
3    0.023838  0.265397  0.706197
4    0.976916  0.631862  0.853917
..        ...       ...       ...
328  0.606177  0.108267  0.712464
329  0.714360  0.456161  0.671488
330  0.523817  0.854340  0.001068
331  0.852149  0.485488  0.410634
332  0.344240  0.206302  0.177253

[333 rows x 3 columns]

In [84]:
newdf.drop([1],inplace=True)  # drop row 1 in main dataset

In [85]:
newdf.head(5)   #show 5 topmost data

          1         3         4
0  0.941985  0.003485  0.107439
2  0.752235  0.471715  0.333622
3  0.023838  0.265397  0.706197
4  0.976916  0.631862  0.853917
5  0.615222  0.690983  0.388091

In [86]:
newdf.reset_index(drop=True,inplace=True)  # reset index order

In [87]:
newdf

            1         3         4
0    0.941985  0.003485  0.107439
1    0.752235  0.471715  0.333622
2    0.023838  0.265397  0.706197
3    0.976916  0.631862  0.853917
4    0.615222  0.690983  0.388091
..        ...       ...       ...
327  0.606177  0.108267  0.712464
328  0.714360  0.456161  0.671488
329  0.523817  0.854340  0.001068
330  0.852149  0.485488  0.410634
331  0.344240  0.206302  0.177253

[332 rows x 3 columns]

In [91]:
df = pd.DataFrame({
    "name": ['abhinav', 'amol', 'kushal'],
    "toy": [np.nan, 'car', 'truck'],  
    "born": [np.nan, pd.Timestamp("2006-05-16"), np.nan] 
})

In [92]:
df

      name    toy       born
0  abhinav    NaN        NaT
1     amol    car 2006-05-16
2   kushal  truck        NaT

In [93]:
df.dropna() #drop na

   name  toy       born
1  amol  car 2006-05-16

In [95]:
df.shape

(3, 3)

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   toy     2 non-null      object
 2   born    1 non-null      datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 204.0+ bytes

In [97]:
df.describe

<bound method NDFrame.describe of       name    toy       born
0  abhinav    NaN        NaT
1     amol    car 2006-05-16
2   kushal  truck        NaT>

In [98]:
df['name'].value_counts(dropna=False)

name
abhinav    1
amol       1
kushal     1
Name: count, dtype: int64

In [99]:
df.notnull()

   name    toy   born
0  True  False  False
1  True   True   True
2  True   True  False

In [102]:
df.isnull()

    name    toy   born
0  False   True   True
1  False  False  False
2  False  False   True

In [103]:
# Create a dataframe that contains only integer with 3 rows and 2 columns.
df = pd.DataFrame({
    "col1": [1, 2, 3], 
    "col2": [4, 5, 6]
})

In [104]:
df.describe()

       col1  col2
count   3.0   3.0
mean    2.0   5.0
std     1.0   1.0
min     1.0   4.0
25%     1.5   4.5
50%     2.0   5.0
75%     2.5   5.5
max     3.0   6.0

In [105]:
df.mean()

col1    2.0
col2    5.0
dtype: float64

In [106]:
df.corr()

      col1  col2
col1   1.0   1.0
col2   1.0   1.0

In [107]:
df.count()

col1    3
col2    3
dtype: int64

In [108]:
df.max()

col1    3
col2    6
dtype: int64

In [109]:
df.min()

col1    1
col2    4
dtype: int64

In [110]:
df.median()

col1    2.0
col2    5.0
dtype: float64

In [111]:
df.std()

col1    1.0
col2    1.0
dtype: float64